<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataPass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28AFAAEC1E8695280059E9B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28AFAB001E8695290059E9B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28AFAB0B1E8695290059E9B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
